<?xml version="1.0" encoding="UTF-8"?>
<plugin
        id="webpackStatsImport"
        name="Webpack Stats Importer"
        version="1.0"
        provider-name="lt.jgreibus"
        class="main.java.lt.jgreibus.Main">

    <requires>
        <api version="1.2"/>
    </requires>

    <runtime>
        <library name="webpackstats_importer.jar"/>
    </runtime>
</plugin>