<?xml version="1.0" encoding="UTF-8"?>
<plugin id="WebpackStats2MagicDraw" name="WebpackStats2MagicDraw"
        version="build_4ndwf414mc98jx3bdg3vo6bee$_run_closure2@1703a54c" provider-name="www.jgreibus.lt"
        class="lt.jgreibus.Main">
    <requires>
        <api version="1.0"/>
    </requires>
    <runtime>
        <library name="WebpackStats2MagicDraw.jar"/>
    </runtime>
</plugin>